* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
    background-color: rgba(240,248,255,.3);
    height:100%;
}

/*Stylesheet for nav bar*/
/*------------------------------------------------*/
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    padding: 5px;
    background-color: #333;
}

.navBar.ul {
    position: relative;
    list-style-type: none;
    padding: 5px;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

.navBar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2px;
    margin: 2px;
}

.navBar li a.active {
    background-color: #4CAF50;
    color: #111;
}

.navBar li a:hover:not(.active){
    background-color: #111;
    color: white;
}

/*Stylesheet for canvas*/
/*------------------------------------------------*/
.canvas {
    background-color: rgba(255,192,203,.1);
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    margin: 5px;
    padding: 5px;
}

.graph {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 50%;
    height: 80%;
    background-color: rgba(240,248,255,.5);
    border: 2px solid grey;
    border-radius: 4px;
    z-index: 9998!important;
}

#container {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.msgBox {
    position: absolute;
    top:5%;
    left: 55%;
    width: 42%;
    height: 80%;
    padding: 10px;
    background-color: rgba(240,248,255,.5);
    border: 2px solid grey;
    border-radius: 4px;
    display: block;
}

#msgRoot {
    height: 100%;
    width: 100%;
    overflow: scroll;
    table-layout:fixed;
}

/* Style the search field */
input[type=text] {
    width: 75%;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
}

/* Style the submit button */
input[type="submit"] {
    width: 25%;
    height: 40px;
    padding: 10px;
    background: #333;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #111;
}

/*test css for tree view*/
/*----------------------------------------------*/
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}