* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
    height:100%;
}
/*Stylesheet for top nav bar*/
/*------------------------------------------------*/
/* Remove margins and padding from the list, and add a black background color */
ul.topNav {
    position: fixed;
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, .5);
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}
/* Float the list items side by side */
ul.topNav li {float: left;}

/* Style the search field */
#searchForm {
    width: 180px;
    float: right;
    margin-right: 5px;
    padding-right: 5px;
    background: #fff;
    border: 1px solid gray;
}

input[type=text] {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    /*border:none;*/
    border-style:none;
    float: left;
    background: #fff;
}

/* Style the submit button */
input[type=image] {
    text-align:center;
    height: 40px;
    float: right;
    background: #fff;

}

/* Style the links inside the list items */
ul.topNav li a {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 0 rgba(128, 128, 128, 0.5);
    display: inline-block;
    text-align: center;
    padding: 6px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
}

/*Stylesheet for nav bar*/
/*------------------------------------------------*/
.navBar {
    position: fixed;
    top: 10%;
    left: 0;
    width: 15%;
    height: 88%;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, .5);
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

.navBar.ul {
    position: relative;
    list-style-type: none;
    padding: 5px;
    width: 15%;
    background-color: #5f5f5f;
    height: 100%;
    overflow: auto;
}

.navBar li a {
    display: block;
    color: rgb(128, 128, 128);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2px;
    margin: 2px;
}

.navBar li a:hover:not(.active){
    background-color: #111;
    color: white;
}

/*Stylesheet for canvas*/
/*------------------------------------------------*/
.canvas {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 85%;
    height: 85%;
    padding: 5px;
}

.graph {
    position: absolute;
    left: 1.5%;
    width: 51%;
    height: 100%;
    z-index: 9998!important;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

.graphNav {
    position: absolute;
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 5px;
    height: 7%;
    width: 100%;
    margin: 0 -1px 0 0;
    background-color: rgba(240, 248, 255, .5);
}

.graphBox {
    position: absolute;
    top:7%;
    height: 93%;
    width: 100%;
    border: 1px solid lightgray;
    background-color: rgba(240, 248, 255, .5);
    margin: -1px 0 0 0;
}

#container {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.splitter {
    position: absolute;
    left: 52.5%;
    width: 2.5%;
    height: 100%;
    text-align: center;
}

#drag {
    position: absolute;
    height: 100%;
    font-size: 32px;
    color: lightgray;
    border-radius: 3px;
    width: 100%;
    cursor: col-resize;
    padding-top: 800%;
}

.splitter #drag:hover,
.splitter #drag.active {
    color: gray;
    background-color: #f5f5f5;
}

.msgBox {
    position: absolute;
    left: 55%;
    width: 43%;
    height: 100%;
    border-radius: 4px;
    display: block;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

.msgNav {
    position: absolute;
    border: 1px solid lightgray;
    font-size: 20px;
    padding: 5px;
    height: 7%;
    width: 100%;
    margin: 0 -1px 0 0;
    background-color: rgba(240, 248, 255, .5);

}

.msgContent {
    position: absolute;
    top:7%;
    height: 93%;
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    margin: -1px 0 0 0;
    background-color: rgba(240, 248, 255, .5);
}

#msgRoot {
    height: 100%;
    width: 100%;
    overflow: scroll;
    table-layout:fixed;
}

